.tnc_body {
  word-spacing: 4px;
  /* line-height: 18px; */
  font-size: 20px;
  margin: 5em 10em;
}
body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
h1 {
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
p {
  /* text-align: left; */
  /* font-family: Georgia, serif; */
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 4pxpx;
  /* color: #000000; */
  /* background-color: #ffffff; */
}

@media screen and (max-width: 1150px){
  .tnc_body{
    margin: 5em 6em;
  }
}

@media screen and (max-width: 900px){
  .tnc_body{
    margin: 5em 3em;
  }
}

@media screen and (max-width: 500px){
  .tnc_body{
    margin: 4em 1.5em;
  }
}